@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #e2e2e2;
}
::-webkit-scrollbar-thumb {
  background-color: #969696;
  border-radius: 1px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Urbanist", "sans-serif";
}

.stroke-home {
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: white;
}
.stroke-luxury {
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #0f0f0f;
}

@layer components {
  .center-layout {
    @apply flex justify-center items-center;
  }

  .main-layout {
    @apply w-[85%] md:w-[80%] m-auto;
  }

  .paragraph {
    @apply font-black text-2xl;
  }
}
